@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
body {
    margin: auto;
    padding: auto;

}
.menu-lateral {
    width: 15%;
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    height: 100vh;
    
}
.menu-lateral-top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'gidole';
    
    
}
.menu-fundo-logo {
    background-color: #4e3324;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.menu-top-logo {
    max-width: 40px;
}
.itens-menu, .itens-menu-fundo {
    margin-top: 4%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    font-family: 'gidole';
    flex-direction: column;
    list-style: none;
}
.itens-menu-fundo{
    
    margin-top: auto; 
    width: 100%;
    
    position: absolute; 
    bottom: 4%; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens-menu li, .itens-menu-fundo{
    margin: auto;

    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    transition: 0.5s;
}
.itens-menu li:hover{
    transform: scale(1.01);
    box-shadow: 0
}
.itens-menu li a , .itens-menu-fundo a{
    align-self: center;
    text-decoration: none;
    color: #333;
    font-family: 'gidole';
}
.div-foto-li{
    width: 13%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-menu{
    width: 28px;
}
.ativo{
    background-color: #4e3324;
    border-radius: 10px;
    padding: 4% 0 4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
