@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F9FAFB;
}

.header {
    display: flex;
    flex-direction: row;
}

/* Lateral */
.lateral {
    background-color: #ffff;
    /* width: 270px; */
    height: 700px;
    flex-shrink: 0;
}

.lateral .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}


.card-logo {
    width: 50px;
    height: 40px;
    /* background-color: #4E3324; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}

.card-logo img {
    width: 40px;
}

.titulo h2 {
    color: #4E3324;
    font-size: 20px;
}

/* Menu */
.menu {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 20px;
}

.menu li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #737791;
    font-size: 16px;
}

.menu .ativo {
    background-color: #4E3324;
    border-radius: 10px;
    padding: 10px;
}

.menu .ativo a {
    color: #ffff;
}