/*  fontes */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F9FAFB;
}

.header {
    display: flex;
    flex-direction: row;
}

/* Lateral */
.lateral {
    background-color: #ffff;
    width: 270px;
    height: 700px;
    flex-shrink: 0;
}

.lateral .titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}


.card-logo {
    width: 40px;
    height: 40px;
    background-color: #4E3324;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}

.card-logo img {
    width: 15px;
}

.titulo h2 {
    color: #4E3324;
    font-size: 20px;
}

/* Menu */
.menu {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 20px;
}

.menu li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #737791;
    font-size: 16px;
}

.menu .ativo {
    background-color: #4E3324;
    border-radius: 10px;
    padding: 10px;
}

.menu .ativo a {
    color: #ffff;
}

.estufa {
    background-color: #ffff;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.estufa h2 {
    color: #4E3324;
    font-size: 24px;
}

.estufa .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.estufa .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.estufa .username {
    font-size: 16px;
    color: #0000008b;
    font-weight: bold;
}

.indicadores {
    background-color: #4E3324;
}




.cards-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}


.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.indicadores {
    background-color: #ffff;
    color: #05004E;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.card1 {
    background-color: #FFF4DE;
    color: #4E3324;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    margin: 20px;


}

.card1 h3 {
    color: #05004E;
    margin-top: 7px;
}

.card1 p {
    color: #425166c1;
    font-size: 13px;
    margin-top: 7px;

}

.card1 span {
    color: #4079ED;
    font-size: 13px;
    margin-top: 18px;

}







.graficos {

    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 40px;
    width: 100%;
}

.grafico {
    width: 600px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.alertas {
    background-color: #FFE2E5;
    bottom: 20px;
    width: 260px;
    padding: 5px;
    border-radius: 10px;

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.alertas h3 {
    color: #151D48;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alertas h3 img {
    width: 20px;
    height: 20px;
}



.alertas ul {
    list-style: none;
}

.alertas li {
    margin: 18px;
    font-size: 12px;
    color: #425166;
}

