@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    padding: 3% 4%;
    display: flex;
    align-items: center;
    height: 50px;
}

.header_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header_nav ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header_nav a {
    color: #4E3324;
    text-decoration: none;
    font-weight: bold;
}

#login_a {
    color: #FFFFFF;
}

/* Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../MushTrack/assets/imagemInicio.png);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #4E3324;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgLogo {
    width: 80px;
    margin-top: -90px;    
}

.campo input {
    width: 390px;
    height: 35px;
    margin-top: 29px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
}

#email_input {
    background-image: url(assets/img/iconemail.png);
}

#senha_input {
    background-image: url(assets/img/iconsenha.png);
}

/* Botão Login */
.button {
    margin-top: 30px;
    background: #FFFFFF;
    width: 390px;
    height: 40px;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.05);
}

#button_home a {
    text-decoration: none;
    color: #4E3324;
    font-weight: 600;
}

.button_4 {
    background: linear-gradient(to right, #1a0f07, #9d5b26);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    color: white;
}

/* Registro */
.Registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: transform 0.2s;

}

.Registrar a {
    color: #ffffff;
    font-weight: 300;
    
}

.button:hover {
    transform: scale(1.05);
}